<section >
    <div class="hero-section">
        <div class="container">
            <div class="hero-content">
            <h1>Join Our Competation</h1>
            <p class="subtitle">
                Join the most prestigious inter-college project competition and demonstrate your creative solutions to real-world problems.
            </p>
            
            <div class="cta-section">
                <div class="feature-card">
                
                <h3>Browse Competitions</h3>
                <a routerLink="/competitions" class="btn btn-primary">Join Now</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<!-- Featured Competitions Section -->
<app-featured-competitions></app-featured-competitions>