.card {
    border-radius: 12px;
}

.btn-primary {
    background-color: #007bff;
}

.btn-outline-secondary {
    border-radius: 6px;
}

.form-control {
    border-radius: 8px;
}

.form-label {
    font-weight: 600;
}

.endTime{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}